<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body style="font-family: Verdana">
    <h1>{body}</h1>
    <table style="border-collapse: collapse; background-color:#9AEEFA; font-size:150%;">
        <tr><th>Name:</th><td>{name}</td></tr>
        <tr><th>Surname:</th><td>{surname}</td></tr>
        <tr><th>Age:</th><td>{age}</td></tr>
        <tr><th>Profession:</th><td>{profession}</td></tr>
    </table>
</body>
</html>